.env
*.env
__pycache__/
# Ignore all Season_1 to Season_8 folders in Datasets/Hyrox
Datasets/Hyrox/Season_*/
Datasets/SkillCorner Premier League 24-25 data/
Accessory + unfinished notebooks/
statsbomb_cache/
.ipynb_checkpoints/
full_season_events.parquet
passes_mens_europe_15_16.csv